* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter;
  background: #282D35;
}

.nav {
  display: flex;
  height: 90px;
  background: #21222A;
  justify-content: space-between;
  align-items: center;
  padding: 26px;
  color: white;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-logo {
  width: 30px;
}

.nav-logo-text {
  color: #61DAFB;
}

.toggler {
  display: flex;
  align-items: center;
}

.toggler p {
  font-size: 0.625rem;
  font-weight: 600;
}

.toggler--slider {
  width: 25px;
  height: 13px;
  background-color: #2B283A;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
}

main {
  padding: 52px 26px;
  color: white;
}

ul {
  max-width: 400px;
}

.main-content {
  background: no-repeat url(./assets/react-icon-dark.png);
  background-position: right 70%;
}

.main-content h1 {
  margin: 0;
  font-size: 40px;
  letter-spacing: -0.05em;
}

.main-content ul li {
  line-height: 2
}

.main-content ul li::marker {
  color: #61DAFB;
  font-size: 24px;
}